{% extends "Studentdata/layout.html" %}
{% block title %}
{{title}}{% endblock %}
{% block heading %}
{{title}}{% endblock %}
{% block content %}


<div class="container" style="margin-top:5% ;">
    <div class="d-flex">
        <div class="row m-4">
            <h1>Search Employee by Code</h1>
            <div class="col-12 px-4 py-3">
                <div class="row mt-2">
                    <div class="col-lg-10">
                        <form method="post" style="margin-top: 5%" action="{% url 'search_Employee_code' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-2 col-12 mb-3">
                                    <label class="font-weight-bold" for="id_name">Emp_Code</label>
                                </div>
                                <div class="col-lg-6 col-12 mb-3">
                                    <input type="text" name="name" maxlength="30" required id="id_name">
                                </div>
                                <div class="col-4">
                                    <input type="submit" class="btn btn-primary btnsubmit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if a == True %}
                <div class="container mt-5 text-center">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Emp_Code</th><th>Employee_Name</th>
                            </tr>
                                {% for each in data %}
                            <tr>
                                <td>{{each.Emp_Code}} </td><td>{{each.Employee_Name}}</td>
                                <td>  
                                    <a class="btn btn-primary" href="/edit_Employee_code/{{ each.Emp_Code }}">Edit</a>  
                                </td>  
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if a == False %}
        <div id="InfoBanner">
            <span class="reversed reversedRight">
            <span>
                &#9888;
            </span>
            </span>
            <span class="reversed reversedLeft">
            Warning {{errors}}!!
            </span>
        </div>
        {% endif %} 

    </div>
</div>   
{% endblock %}